{% extends 'base.html.twig' %}

{% block title %}Hello TournoisController!{% endblock %}
{% block body %}
    {% for tournoi in tournois %}
    <div class="bg-gray-300 flex-coln">
        <a href="{{path('tournoiShow',{'slug': tournoi.slug}) }}">Nom :{{tournoi.nom}} </a>
        <p>Description : {{tournoi.description}}</p>
        <p>Jeu : {{tournoi.jeu}}</p>
        <p>Date de début : {{tournoi.date|date("m/d/Y")}}</p>
        <p>Date de fin : {{tournoi.dateFin | date("m/d/Y")}}</p>
        <p>Cash price :  {{tournoi.cashPrice}}</p>
        <p>Age minimum : {{tournoi.ageMin}}</p>
    </div>
    {% endfor %}
    {% if is_granted('ROLE_ADMIN') %}
        {{form(ajout)}}
    {% endif %}
    
{% endblock %}
 