{% extends 'base.html.twig' %}

{% block title %}Hello TournoisController!{% endblock %}
{% block body %}
    {% for tournoi in tournois %}
    <div class="p-5 bg-gray-300 flex-coln">
        <a href="{{path('tournoiShow',{'slug': tournoi.slug}) }}">Nom : {{tournoi.nom}} </a>
        <p class="my-2">Description : {{tournoi.description}}</p>
        <p class="my-2">Jeu : {{tournoi.jeu}}</p>
        <p class="my-2">Date de début : {{tournoi.date|date("m/d/Y")}}</p>
        <p class="my-2">Date de fin : {{tournoi.dateFin | date("m/d/Y")}}</p>
        <p class="my-2">Cash price :  {{tournoi.cashPrice}}</p>
        <p class="my-2">Age minimum : {{tournoi.ageMin}}</p>
    </div>
    {% endfor %}
    {% if is_granted('ROLE_ADMIN') %}
        {{form(ajout)}}
    {% endif %}
    
{% endblock %}
 