{% extends 'base.html.twig' %}

{% block title %}Hello TournoisController!{% endblock %}

{% block body %}
    {% for tournoi in tournois %}
    <a href="{{path('tournoiShow',{'slug': tournoi.slug}) }}">{{tournoi.nom}} </a>
    {{tournoi.description}}
    {{tournoi.jeu}}
    {{tournoi.date|date("m/d/Y")}}
    {{tournoi.dateFin | date("m/d/Y")}}
    {{tournoi.cashPrice}}
    {{tournoi.ageMin}}
    <br>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        {{form(ajout)}}
    {% endif %}
    
{% endblock %}
 