{% extends 'base.html.twig' %}

{% block title %}Equipes{% endblock %}

{% block body %}
<div class="m-2">
    <div>
        {% for equipe in equipes %}
        <a href="{{path('equipeShow',{'slug': equipe.slug}) }}" class="text-4xl font-medium"> {{equipe.nom}} </a>  {% if is_granted('ROLE_ADMIN') %}|<a href="{{path('delete_equipe',{'slug': equipe.slug}) }}" class="text-2xl text-red-900"> Supprimer </a>  <br>
        {% endif %}
    </div>
    


<<<<<<< HEAD
    {% endfor %}
        {{form(ajout)}}
</div>

=======
{% endfor %}
    {{form_start(ajout)}}
    <div class="border-solid">
        {{form_row(ajout.nom)}}
    </div>
    {{form_end(ajout)}}
    
>>>>>>> 768575775227e153f6d2d80a5939fd26f2c3aa04
{% endblock %}
